* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-wrap: wrap;
  font-family: arial;
  margin: 0%px;
  background-color: #3b8fe4;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  font-family: arial, sans-serif;
  background-color: rgb(36, 34, 34);
  color: #ffffff;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover {
  color: chartreuse;
  transition: 0.4s;
}
img {
  width: 300px;
  height: 300px;
  border: #ffffff 05px solid;
}
section h2 {
  align-content: flex-start;
}
p {
  font-family: arial;
  width: 50%;
  margin: 50%px;
  font-size: 20px;
  text-align: right;
  color: #ffffff;
}
.float-left {
  width: 600px;
  height: 600px;
  border: #ffffff 05px solid;
  position: relative;
}
#btn:hover {
  background-color: crimson;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.4s;
}
.container-Work {
  display: flex;
  justify-content: space-evenly;
}
.sub-contaiiner {
  display: block;
  margin: 5px;
  padding: 15px;
  background: #0072bb;
  color: #ffffff;
  width: 25%;
  border: red;
  text-align: bottom;
}
.sub-container:hover {
  border-color: aqua;
  color: yellow;
}
.Contact-Me {
  display: flex;
  flex-shrink: unset;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
  height: 100px;
  background-color: #e4881f;
  color: #ffffff;
}
.Contact-Me:hover {
  color: chartreuse;
  transition: 0.4s;
}
.Contact-Me ul {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-evenly;
}
